html {
  height: 100%;
  width: 100%;
}
@font-face {
    font-family: Impact-Strive;
    src: url("Impact-Strive.otf") format("opentype");
}
a:link{
  color: #d754ff;
  background-color: transparent;
  text-decoration: underline;
}
a:visited{
  color: #ff8b47;
  background-color: transparent;
  text-decoration: underline;
}
header{
  padding:5px;
  background-color:#69067d;
  
}

body {background-color: #212121;}
pre {
  font-family: "Verdana";
  color: white;}
h1 {
  font-family: "Impact-Strive";
  text-align: center;
  color: white;}
h2 {
  font-family: "Impact-Strive";
  color: white;
  text-align:center;}
p {
  font-family: "Verdana";
  color: white;}